.altura-img{
    height: 150px;
    border-radius: 15px;
}
.tiempo-agotado{
    color: red;
    font-size: 25px;
}
.tablero div img:hover{
    transform: scale(1.2);
    box-shadow: -2px 0px 20px 3px rgb(255, 255, 255); 
}
body{
    background: url(imagenes/tape.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    color: white;
    font-size: 60px;
}
h2{
    color: white;
    font-size: 47px;
}
.nav{
    color: white;
    font-size: 25px;
}
